repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: debug-statements
  - repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
      - id: yapf
        args: ['-i', '-m']
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
  # - repo: https://github.com/astral-sh/ruff-pre-commit
  #   rev: v0.14.10
  #   hooks:
  #     - id: ruff
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
